/*font*/
@import url("https://fonts.googleapis.com/css2? family= Roboto & display=swap");
/*navBar*/
.botonera {
  background-color: #1c2d35; }
  .botonera a {
    font-size: 1.2rem;
    color: white;
    font-family: "Roboto", sans-serif; }

/*index.html*/
body {
  background-color: #000; }

h1 {
  color: #FFFFFF;
  margin: 1.5rem;
  margin-left: 4rem;
  font-family: "Roboto", sans-serif;
  font-size: 3rem; }

.main {
  display: flex; }
  .main section p {
    font-size: 1.6rem;
    margin-left: 4rem;
    font-family: "Roboto", sans-serif;
    color: white;
    margin-ritgh: 1.2rem; }
  .main .imgindex {
    margin: 1.5rem; }

/*conciertos.html*/
.img {
  display: flex;
  justify-content: center; }

.conciertos, .contacto {
  font-size: 1.6rem;
  margin-left: 4rem;
  font-family: "Roboto", sans-serif;
  color: white; }

/*musica.hmtl*/
h2 {
  color: #FFFFFF;
  margin-left: 4rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem; }

.justify-content {
  justify-content: space-around; }
  .justify-content iframe {
    margin: 2rem; }

/*fotos.html*/
.fotos {
  margin: 1.5rem; }

/*contacto.html*/
.formulario {
  color: white;
  font-family: "Roboto", sans-serif; }
  .formulario .mx-5 {
    margin-right: 3rem !important;
    margin-left: 2rem !important; }

/* responsive index.hmtl-480px */
@media (max-width: 480px) {
  h1 {
    margin: 1rem; }
  .main {
    flex-direction: column; }
    .main section p {
      margin: 1rem; }
    .main .redimension {
      width: 100%;
      height: auto;
      align-content: center; } }

/* responsive index.hmtl-768px */
@media (max-width: 768px) {
  h1 {
    margin: 1rem; }
  .main {
    flex-direction: column; }
    .main section p {
      margin: 1rem; }
    .main .redimension {
      width: 100%;
      height: auto;
      align-content: center; } }

/* responsive index.hmtl-1024px */
@media (max-width: 1024px) {
  h1 {
    margin: 1rem; }
  .main {
    flex-direction: column; }
    .main section p {
      margin: 1rem; }
    .main .redimension {
      width: 100%;
      height: auto;
      align-content: center; } }

/* responsive conciertos.hmtl-480px */
@media (max-width: 480px) {
  .img {
    margin: 1rem;
    width: 100%;
    height: auto; }
  h1 {
    margin: 1rem; }
  .conciertos, .contacto {
    flex-direction: column; } }

/* responsive conciertos.hmtl-768px */
@media (max-width: 768px) {
  .img {
    margin: 1rem;
    width: 100%;
    height: auto; }
  h1 {
    margin: 1rem; } }

/* responsive musica.hmtl-480px */
@media (max-width: 480px) {
  h2 {
    margin: 1rem; }
  .d-flex {
    flex-direction: column; }
  .justify-content {
    justify-content: space-around;
    align-items: center; }
    .justify-content iframe {
      margin: 1rem;
      width: 75%; } }

/* responsive conciertos.hmtl-768px */
@media (max-width: 768px) {
  h2 {
    margin: 1rem; }
  .d-flex {
    flex-direction: column; }
  .justify-content {
    justify-content: space-around;
    align-items: center; }
    .justify-content iframe {
      margin: 1rem; } }

/* responsive contacto.hmtl-480px */
@media (max-width: 480px) {
  h1 {
    margin: 1rem; }
  .contacto {
    margin: 1rem;
    margin-right: 1rem;
    overflow: hidden; }
  .formulario {
    margin: 1rem;
    justify-content: center;
    align-items: center; }
    .formulario .mx-5 {
      margin-right: 1rem;
      margin-left: 1rem; } }

/* responsive contacto.hmtl-768px */
@media (max-width: 768px) {
  .contacto {
    margin-left: 1rem; } }

/* responsive contacto.hmtl-1024px */
@media (max-width: 1024px) {
  .contacto {
    margin-left: 1rem; } }

/*footer*/
.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #1c2d35; }
  .footer img {
    margin: 1.5rem; }

/* responsive footer-480px */
@media (max-width: 480px) {
  .footer {
    display: flex;
    justify-content: center;
    align-items: center; } }

/* responsive footer-768px */
@media (max-width: 768px) {
  .footer {
    display: flex;
    justify-content: center;
    align-items: center; } }
