/*font*/
@import url("https://fonts.googleapis.com/css2? family= Roboto & display=swap");
/*navBar*/
.botonera {
  background-color: #1c2d35; }
  .botonera a {
    font-size: 1.2rem;
    color: white;
    font-family: "Roboto", sans-serif; }

/*index.html*/
body {
  background-color: black; }

h1 {
  color: white;
  margin: 1.5rem;
  margin-left: 4rem;
  font-family: "Roboto", sans-serif;
  font-size: 3rem; }

.main {
  display: flex; }
  .main section {
    color: white; }
    .main section p {
      font-size: 1.7rem;
      margin-left: 4rem;
      margin-ritgh: 1.2rem;
      font-family: "Roboto", sans-serif; }
  .main .imgindex {
    margin: 1.5rem; }

/*conciertos.html*/
.img {
  display: flex;
  justify-content: center; }

.conciertos {
  color: white;
  font-size: 1.7rem; }

/*musica.hmtl*/
h2 {
  color: white;
  margin-left: 4rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem; }

.justify-content {
  justify-content: space-around; }
  .justify-content iframe {
    margin: 2rem; }

/*fotos.html*/
.fotos {
  margin: 1.5rem; }

/*contacto.html*/
.contacto {
  color: white;
  font-size: 1.7rem;
  margin-left: 4rem;
  margin-ritgh: 1.2rem;
  font-family: "Roboto", sans-serif; }

.formulario {
  color: white;
  font-family: "Roboto", sans-serif; }

/*footer*/
.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #1c2d35; }
  .footer img {
    margin: 1.5rem; }
