//mixin
@mixin texto($fontText, $marginLeft, $mainFont, $textColor){
	font-size: $fontText;
	margin-left: $marginLeft;
	font-family: $mainFont;
	color: $textColor;
}


/*index.html*/
	body{
		background-color: map-get($map:$paleta, $key:'uno')
	}

	h1{
		color: map-get($map:$paleta, $key:'dos');
		margin: $margin;
		margin-left: $marginLeft;
		font-family: $mainFont;
		font-size: $fontMax;
	}

	.main{
		display: flex;
		section p{
				@include texto($fontText, $marginLeft, $mainFont, $textColor);
				margin-ritgh: $margincm;
			}	
		.imgindex{
			margin: $margin;		
		}
	}


/*conciertos.html*/
	.img{
	 display: flex;
	 justify-content: center;
	}

	.conciertos{
		@include texto($fontText, $marginLeft, $mainFont, $textColor);
	}

/*musica.hmtl*/
	h2{
		color: map-get($map:$paleta, $key:'dos');
		margin-left: $marginLeft;
		font-family: $mainFont;
		font-size: $fontMd;
	}
	.justify-content{
		justify-content: space-around;
		iframe{
			margin: $marginL;
		}
	}

/*fotos.html*/
	.fotos{
		margin: $margin;
	}

/*contacto.html*/
	.contacto{
		@extend .conciertos //era para probar extends, pero no quiero agregarle nada
	}

	.formulario{
		color: $textColor;
		font-family: $mainFont;
	}
	