/*font*/
@import url('https://fonts.googleapis.com/css2? family= Roboto & display=swap');

//vars
$mainFont: 'Roboto', sans-serif;

//sizing
$fontMax: 3rem;
$fontMd: 1.8rem;
$fontMmd: 1.7rem;
$fontMin: 1.2rem;
$fontText: 1.6rem;

//margin
$margin: 1.5rem;
$marginLeft: 4rem;
$margincm: 1.2rem;
$marginL: 2rem;
