// variables para colores
$bodyColor: black;
$mainColor: rgba(28, 45, 53, 1.0);
$textColor: white;

$paleta:(
    'uno': #000,
    'dos': #FFFFFF,
    'tres':#bb20c1,
    'cuatro':#ecdde9,
    'cinco': #9b9a9b,
    'seis': #292829,
    'siete':#e205bb,
    'ocho':#dfa1d4,
    'nueve':#bd9eb8,
    'diez':#e7cfe3,
    'once': #6e646c,
    'doce': #7f3472,);
